.superadminWrapper {
  display: flex;
  direction: rtl;
  background: #F7F8FC;
  min-height: 100vh;
}

.mainArea {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pageTitle {
  font-size: 30px;
  font-weight: 800;
  color: #2C2A6A;
}

.pageSubtitle {
  color: #808191;
  margin-bottom: 12px;
}
